@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fredoka), "Comic Sans MS", "Chalkboard SE", sans-serif;
  --font-mono: monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: "Quicksand", sans-serif;
  --radius: 1.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.25rem;
  --background: oklch(0.9843 0.0135 78.2648);
  --foreground: oklch(0.2101 0.0318 264.6645);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2101 0.0318 264.6645);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2101 0.0318 264.6645);
  --primary: oklch(0.8245 0.1486 73.3464);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7714 0.0951 227.3619);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9670 0.0029 264.5419);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.7536 0.1637 50.4009);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.8245 0.1486 73.3464);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7536 0.1637 50.4009);
  --chart-1: oklch(0.8245 0.1486 73.3464);
  --chart-2: oklch(0.7714 0.0951 227.3619);
  --chart-3: oklch(0.7536 0.1637 50.4009);
  --chart-4: oklch(0.8011 0.1879 137.4668);
  --chart-5: oklch(0.7253 0.1752 349.7607);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
  --sidebar-primary: oklch(0.8245 0.1486 73.3464);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9701 0.0215 69.7885);
  --sidebar-accent-foreground: oklch(0.7536 0.1637 50.4009);
  --sidebar-border: oklch(0.9347 0.0435 63.9095);
  --sidebar-ring: oklch(0.7536 0.1637 50.4009);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: var(--font-fredoka), "Comic Sans MS", "Chalkboard SE", sans-serif;
  --font-serif: "Quicksand", sans-serif;
  --font-mono: monospace;
  --shadow-color: rgba(255,181,71,0.2);
  --shadow-opacity: 0.2;
  --shadow-blur: 10px;
  --shadow-spread: 2px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 4px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.10);
  --shadow-xs: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.10);
  --shadow-sm: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.20), 0 1px 2px 1px hsl(35.8696 100.0000% 63.9216% / 0.20);
  --shadow: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.20), 0 1px 2px 1px hsl(35.8696 100.0000% 63.9216% / 0.20);
  --shadow-md: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.20), 0 2px 4px 1px hsl(35.8696 100.0000% 63.9216% / 0.20);
  --shadow-lg: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.20), 0 4px 6px 1px hsl(35.8696 100.0000% 63.9216% / 0.20);
  --shadow-xl: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.20), 0 8px 10px 1px hsl(35.8696 100.0000% 63.9216% / 0.20);
  --shadow-2xl: 0 4px 10px 2px hsl(35.8696 100.0000% 63.9216% / 0.50);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.2138 0.0042 84.5889);
  --foreground: oklch(0.9843 0.0135 78.2648);
  --card: oklch(0.2820 0.0061 78.2283);
  --card-foreground: oklch(0.9843 0.0135 78.2648);
  --popover: oklch(0.2820 0.0061 78.2283);
  --popover-foreground: oklch(0.9843 0.0135 78.2648);
  --primary: oklch(0.8567 0.1219 74.6554);
  --primary-foreground: oklch(0.2138 0.0042 84.5889);
  --secondary: oklch(0.8244 0.0825 226.5525);
  --secondary-foreground: oklch(0.2138 0.0042 84.5889);
  --muted: oklch(0.3533 0.0058 78.2531);
  --muted-foreground: oklch(0.8717 0.0093 258.3382);
  --accent: oklch(0.7965 0.1308 51.2572);
  --accent-foreground: oklch(0.2138 0.0042 84.5889);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --border: oklch(0.3533 0.0058 78.2531);
  --input: oklch(0.2820 0.0061 78.2283);
  --ring: oklch(0.8567 0.1219 74.6554);
  --chart-1: oklch(0.8567 0.1219 74.6554);
  --chart-2: oklch(0.8244 0.0825 226.5525);
  --chart-3: oklch(0.7965 0.1308 51.2572);
  --chart-4: oklch(0.8477 0.1589 137.6767);
  --chart-5: oklch(0.7576 0.1590 55.9344);
  --sidebar: oklch(0.2820 0.0061 78.2283);
  --sidebar-foreground: oklch(0.9843 0.0135 78.2648);
  --sidebar-primary: oklch(0.8567 0.1219 74.6554);
  --sidebar-primary-foreground: oklch(0.2138 0.0042 84.5889);
  --sidebar-accent: oklch(0.3533 0.0058 78.2531);
  --sidebar-accent-foreground: oklch(0.8567 0.1219 74.6554);
  --sidebar-border: oklch(0.3533 0.0058 78.2531);
  --sidebar-ring: oklch(0.8567 0.1219 74.6554);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 1.25rem;
  --font-sans: var(--font-fredoka), "Comic Sans MS", "Chalkboard SE", sans-serif;
  --font-serif: "Quicksand", sans-serif;
  --font-mono: monospace;
  --shadow-color: rgba(0,0,0,0.4);
  --shadow-opacity: 0.4;
  --shadow-blur: 15px;
  --shadow-spread: 3px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 6px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 6px 15px 3px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0 6px 15px 3px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0 6px 15px 3px hsl(0 0% 0% / 0.40), 0 1px 2px 2px hsl(0 0% 0% / 0.40);
  --shadow: 0 6px 15px 3px hsl(0 0% 0% / 0.40), 0 1px 2px 2px hsl(0 0% 0% / 0.40);
  --shadow-md: 0 6px 15px 3px hsl(0 0% 0% / 0.40), 0 2px 4px 2px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0 6px 15px 3px hsl(0 0% 0% / 0.40), 0 4px 6px 2px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0 6px 15px 3px hsl(0 0% 0% / 0.40), 0 8px 10px 2px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0 6px 15px 3px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Fredoka", sans-serif;
    letter-spacing: var(--tracking-normal);
  }
}